.btn{
  width: 100px;
}
.box{
  width: 200px;
  height: 200px;
  background-color: chocolate;
  position: sticky;
  right: 0px;
  z-index: -1;
  
}

.main{ 
  background-color: aqua;
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  width: 60%;

}

.login{

  padding: 10px;
  border: 2px solid blue;
  width: 20%;
  margin-top: 5px;
}

.cal{
  border: 2px solid blue;
  width: 20%;
  padding: 10px;
}